h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
}

header {
    text-align: center;
    width: 100%;
    padding: 2%;
}

#game-messages {
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    text-align: center;
}

#game-interface {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#chatbox {
    width:100%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

#message-display {
    margin-left: auto;
    margin-right:auto;
    width: 60%;
    height: 200px;
    border: 2px solid #666666;
    border-radius: 5px;
}

#chat-message {
    margin-left: auto;
    margin-right:auto;
    width: 60%;
}


.square {
    height: auto;
    border: 2px solid #666666;
    border-radius: 5px;
    text-align: center;
    margin: 1%;
}

#player-1-score {
    margin: .8em;
    color: #ef5350;
    font-size: 18px;
}

#player-2-score {
    margin: .8em;
    color: #ef5350;
    font-size: 18px;
}

#message-type {
    float: left;
}